html {
	margin:0;
	padding:0;
}
html body {
	margin:0;
	padding:0;
	background: #fff;
	text-align: center;
}
html body .wrapper {
	margin: auto;
	font-family: 'Georgia','Times','Serif';
	color: #636363;
	font-size: 14px;
	line-height: 1.8em;
}
html body .wrapper .logo {
	margin-top:200px;
	margin-bottom: 20px;
}
html body .wrapper .buttonhome {
	background: #444;
	width: 200px;
	text-align: center;
	font-family: 'Georgia','Times','Serif';
	font-size: 11px;
	letter-spacing: 1px;
	border:none;
	color: #fff;
	padding: 10px;
	cursor: pointer;
	margin-top: 10px;
}